generated/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
*.zip
.jpeg
*.jpg
*.log
*.pyc
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.history
.DS_Store
.vscode/
external-script/encar_images/
*.png
.vscode/